<configuration>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="Username" value="postgres"/>
    <add key="Password" value="!234Qwer"/>
    <add key="Database" value="postgres"/>
    <add key ="wholeString" value="Host=localhost;Username=postgres;Password=!234Qwer;Database=postgres"/>
  </appSettings>
</configuration>