<configuration>
  <appSettings>
    <add key="googleId" value="18Iw1ld-xWQiSJlHTGsRx5rx9QwajzbcYPMn_oJHw7e8"/>
    <add key="clientId" value="332696505028-893grm3nrqje3n4gef0pqk3ijriq8rij.apps.googleusercontent.com"/>
    <add key="clientSecret" value="4QGluwe9Y_2Q0zJS-MKCJSyF"/>
  </appSettings>
</configuration>